[2020-03-13 04:55] jnm2 opened #3 "<RepositoryType> vbproj property isn't standard or might be invalid"
The reason for the \<RepositoryType> property is to specify the .nuspec `<repository type=` attribute value. I've never seen the value `GitHub` before; with GitHub projects, everyone uses `git` that I've seen. The \<RepositoryType> value is referring to the protocol used to programmatically connect to the `<repository url=` URL.

https://docs.microsoft.com/en-us/nuget/reference/nuspec#repository s

[2020-03-13 08:08] paul1956 commented on #3
Fixed in Master

[2020-03-13 08:08] #3 closed

[2020-03-14 00:10] jnm2 opened #4 "Ordinal comparisons should be used rather than culture comparisons"
Things like syntax and keywords shouldn't be processed through .NET culture transforms, invariant or not. The characters should be treated symbolically instead of linguistically. InvariantCulture considers `ss` to equal `ß`, for example. This doesn't apply to keywords and syntax.

Ordinal and OrdinalIgnoreCase are slightly faster than InvariantCulture and InvariantCultureIgnoreCase too because of

[2020-03-14 00:23] jnm2 commented on #4
Fixing the .NET 4.8 build will require me to fix this since .NET Framework doesn't have anything but ordinal versions of `Replace`, `Split`, and `Trim`.

[2020-03-14 00:59] jnm2 opened #6 "CI build to validate PRs"
Would you be interested in adding a GitHub Actions CI build that simply builds the solution and runs all tests? That way the build errors I missed in https://github.com/paul1956/CSharpToVB/pull/2 would have prevented the PR from being merged without overriding.

[2020-03-14 01:07] jnm2 opened #7 "Copyright shown in application does not match the copyright in the source repository"
The source code that produces the app:

https://github.com/paul1956/CSharpToVB/blob/f39271e886d90f9517527fbe7fb2e7a60ba1a20f/License.txt#L3

The metadata on the build artifacts and the message displayed in the app:

https://github.com/paul1956/CSharpToVB/blob/f39271e886d90f9517527fbe7fb2e7a60ba1a20f/CSharpToVB/CSharpToVB.vbproj#L28

[2020-03-14 01:14] jnm2 opened #8 "Clicking Abort when there is a problem loading a .csproj file should not exit the app"
I want to leave the app open and try again after changing things on disk.

It's not clear that 'Retry' or 'Ignore' mean "stop opening the project and let me try again."

[2020-03-14 01:18] jnm2 opened #9 "Could not load file or assembly NuGet.Versioning"
The program shows this error message for all the csprojs that I've tried so far. Example:

https://github.com/Techsola/AmbientTasks/blob/d5a686e8dae0c578b7fe5487a5302d2dd52fd340/src/AmbientTasks/AmbientTasks.csproj

[2020-03-14 01:24] jnm2 opened #10 "Enable Windows visual styles"
I think in order to do this you have to change the project startup object to Sub Main and put this code inside Program.Main:

[code]

[2020-03-14 02:41] #4 closed

[2020-03-14 02:43] jnm2 commented on #8
This is actually worse than I reported. If you detach the debugger (to stop hitting `Stop` so many times) or you run without debugging, the app simply crashes to the desktop rather than presenting an error message and a choice.

[2020-03-14 02:49] paul1956 commented on #10
Thanks I had that and deleted it by accident when I added SplashScreen. I will push fix tonight.

[2020-03-14 02:49] #10 closed

[2020-03-14 03:11] paul1956 commented on #7
Fixed, thanks

[2020-03-14 03:11] #7 closed

[2020-03-14 03:48] paul1956 commented on #6
Yes, but the real tests are the 42 that use Roslyn Source.

[2020-03-14 04:35] paul1956 commented on #8
Abort usually means exit the app, the other 2 options let you make changes and don't exit. But in the case of MSBuild failures not sure what you could do. I have updated the title to explain abort.

[2020-03-14 09:00] paul1956 commented on #9
Note sure what the issue is, it might have something to do with MSLocator

[2020-03-14 13:23] jnm2 commented on #8
In the case of MSBuild failures, couldn't the app stay open and be put in the same state as before the user clicked 'Open project'?

[2020-03-14 16:10] jnm2 commented on #6
I set up a CI build first without the Roslyn tests, then with them. The Roslyn tests are currently failing, so we cannot use them to validate PRs until that is fixed. Not only do they fail, but they take a super long time to run. 14 minutes and still running! https://github.com/jnm2/CSharpToVB/runs/507932037

The weird thing about it is that the Roslyn codebase is a moving target, so if they do so

[2020-03-14 23:03] jnm2 opened #13 "Underscores are generated for multiline statements when not necessary"
Source line: https://github.com/dotnet/roslyn/blob/c0a1d1ec94efc2b4fcc2334580c84741e10e45ef/src/EditorFeatures/CSharpTest/SimplifyInterpolation/SimplifyInterpolationTests.cs#L23

Expected:

[code]

Actual:
[code]

-----

Source lines: https://github.com/dotnet/roslyn/blob/c0a1d1ec94efc2b4fcc2334580c84741e10e45ef/src/EditorFeatures/CSharpTest/SimplifyInterpolation/SimplifyInterpolationTests.cs#L38-

[2020-03-14 23:06] jnm2 opened #14 "Indentation is not preserved in array literal"
Source lines: https://github.com/dotnet/roslyn/blob/c0a1d1ec94efc2b4fcc2334580c84741e10e45ef/src/EditorFeatures/CSharpTest/SimplifyInterpolation/SimplifyInterpolationTests.cs#L40-L42

Expected:

[code]

Expected (alternative):

[code]

Actual:

[code]

[2020-03-14 23:09] jnm2 opened #15 "Keywords are unnecessarily escaped"
Source line: https://github.com/dotnet/roslyn/blob/c0a1d1ec94efc2b4fcc2334580c84741e10e45ef/src/EditorFeatures/CSharpTest/SimplifyInterpolation/SimplifyInterpolationTests.cs#L44

Expected:

[code]

Actual:

[code]

[2020-03-14 23:45] jnm2 opened #16 "AddressOf should not be generated for lambdas"
This results in:

Source line: https://github.com/dotnet/roslyn/blob/c0a1d1ec94efc2b4fcc2334580c84741e10e45ef/src/EditorFeatures/CSharpTest/SimplifyInterpolation/SimplifyInterpolationTests.cs#L44

Expected:

[code]

Actual:

[code]

[2020-03-15 00:00] paul1956 commented on #6
Yes, I check new versions of Roslyn maybe monthly and they take over an hour based so yes it is better to not include them.

[2020-03-15 00:30] paul1956 commented on #16
I will work on this, before I didn't add AddressOf and many things broke. I will add this test.

[2020-03-15 01:04] paul1956 commented on #8
I need to look at this, trying to convert Project files was probably something I should not have tried.

[2020-03-15 01:13] paul1956 commented on #14
This is the VB Formatter, after an explicit _ I have opened a bug Roslyn/#36891 that Sam Harwell as taking the lead on.

[2020-03-15 11:33] paul1956 commented on #13
There is/was a note in the readme about this, VS removed them then you open it. I put them there when there is a possibility of a blank line that C# allows but VB does not. I am open to looking at this again.

[2020-03-15 11:39] paul1956 commented on #16
Fixed in latest commit. Please provide any other examples.

[2020-03-15 11:39] #16 closed

[2020-03-15 11:40] paul1956 commented on #15
Fixed in latest commit. Please provide any other examples.

[2020-03-15 11:40] #15 closed

[2020-03-15 11:45] paul1956 commented on #6
Fixed by @jnm2

[2020-03-15 11:45] #6 closed

[2020-03-15 12:04] paul1956 commented on #8
This issue is fixed, why I can't open a project with MSBuild anymore is a mystery.

[2020-03-15 12:04] #8 closed

[2020-03-15 12:06] paul1956 opened #17 "Open Project fails"
Error
Msbuild failed when processing the file '...roslyn\src\Compilers\CSharp\Test\Syntax\Microsoft.CodeAnalysis.CSharp.Syntax.UnitTests.csproj' with message: The SDK 'Microsoft.DotNet.Arcade.Sdk'

[2020-03-15 12:08] paul1956 commented on #9
This may be the same as #19, with more details so I will not close

[2020-03-15 23:54] paul1956 opened #18 "When processing folders total file count displayed in status bar is 0"
This is a regression from before making converter Async @jnm2

[2020-03-16 00:21] jnm2 commented on #18
I see my mistake. When I was looking for why `TotalFilesToProcess` was `ByRef`, I missed the fact that it calls itself recursively. Fixing!

[2020-03-16 00:25] jnm2 commented on #18
Actually never mind- I still don't see anywhere that TotalFilesToProcess is changed once set.

[2020-03-16 00:38] jnm2 commented on #18
@paul1956 Do you have specific steps I can take? I can't reproduce this problem. This is what I get with Convert > Convert Folder:

![image](https://user-images.githubusercontent.com/8040367/76714355-ed76d080-66fc-11ea-8f9c-5f340d288894.png)

[2020-03-16 00:41] jnm2 commented on #18
Another try:

![image](https://user-images.githubusercontent.com/8040367/76714422-40e91e80-66fd-11ea-8922-976436f72fc7.png)

This is using commit https://github.com/paul1956/CSharpToVB/commit/945b37f8e04d3a4c5d007835da3e9fe2f7948689 which is currently the tip of master.

[2020-03-16 02:04] paul1956 commented on #18
I think I fixed it it the last commit, but the total count may be off now in some cases.

[2020-03-16 02:08] paul1956 commented on #18
Actually it is an issue where the processing code skips some files (auto generates, Ignored...) in the original code total is decremented. I am testing now.

[2020-03-16 03:41] paul1956 commented on #18
![image](https://user-images.githubusercontent.com/12789369/76721411-45153c00-66fd-11ea-9918-c707d54cf665.png)
This is when complete, the total is not being decremented.

[2020-03-16 13:08] jnm2 commented on #18
@paul1956 I still don't understand, I'm sorry. Where in the codebase before or after my PRs was the total being decremented? I can't find it even before my first PR. I see only one decrement in the codebase and it is not decrementing the TotalFilesToProcess variable which is what drives that message.

I tried running commit e4209a6df6afa689e5e3aef46805f9642c3eead5 which is the commit before my fir

[2020-03-16 22:52] paul1956 commented on #18
@jnm2 Thanks I will look again, this was done a long time ago, Now at least you get something reasonable. I have a simple solution that will not break your changes.

[2020-03-16 23:21] paul1956 commented on #18
I am going to close,I think I broke the decrement a long time ago when I added the code to GetFileCount and that is where it needs to be fixed.

[2020-03-16 23:21] #18 closed

[2020-03-22 01:17] VBAndCs opened #19 "Small things to Fix"
Well done @
This is a very good converter, but I have some notes:

1. I tried to convert a solution, but get a MsgBox saying something about Nugets. So I converted the folder instead.

2. When converting the `Namespace statement`, try to exclude the root namespace, because it is the default namespace in VB
in C#:
`Namespace Microsoft.eShopWeb.Infrastructure.Data`
in VB:
`Namespace Data`

The proje

[2020-03-22 02:01] paul1956 commented on #19
@VBAndCs this would be better split into 1 issue per otherwise it is hard to address.
1. There is no convert solution, if you mean project then yes something broke recently #17 and I should just disable it until the underlying issue is fixed in MSBuild.
2. When I do folders I don't look at project files, so this would be hard to do.
3. I only look at 1 file at a time when I convert folders, for pr

[2020-03-22 03:23] VBAndCs commented on #19
Test on this:
https://github.com/dotnet-architecture/eShopOnWeb

[2020-03-22 04:28] VBAndCs commented on #19
Related to 5:
In some constructors, you used another approach by adding `_` in as a prefix to the param like `_catalogItemId`. This broke the conventions of EF binding and caused exceptions took me sometime to understand.
So, as a rule: DON'T CHANGE ANY NAME unless there is no other way.

[2020-03-22 05:05] paul1956 commented on #19
Issue 5 above is fixed is today's build. Let me know if you have another repo.

[2020-03-22 10:57] paul1956 commented on #19
@VBAndCs it has to do with the way things are parsed, the app builds a symbol table and needs to deal with mixed case. The app only walks the tree once, the internal symbol table is case sensitive built top down, mostly left to right with special cases where I have found issues. I will try your repo.

[2020-03-22 12:59] VBAndCs opened #20 "Options must be ON"
You add these statements at top of each converted file:
[code]

In fact this will hide many conversion errors. C# is a strict language, so the code converted from it must work will VB option Explicit  and Strict  are On:
[code]

For example, tour decision hides this problem:
C#
[code]

VB:
[code]

Which will be obvious when truning options off. The correct code is:
[code]

[2020-03-22 13:44] VBAndCs commented on #20
It also reviled the source of a runtime exception that took me hours in vain, which discovered a bug in VB as I explained in: https://github.com/dotnet/vblang/issues/507

[2020-03-22 18:44] VBAndCs opened #21 "private_set propertes is converted to public properties"
This C# code
[code]

is converted to:

[code]

but it should be:
[code]

[2020-03-22 19:25] VBAndCs opened #22 "Me.New and MyBase.New"
You convert this:
[code]

to:
[code]

but it should be:
[code]

[2020-03-22 19:50] VBAndCs opened #23 "A missing comment"
This Code:
[code]

loses the comment:
[code]

[2020-03-22 21:40] paul1956 commented on #23
@VBAndCs thanks good catch, it will be fixed in tonight's build. Generally I try to get all trivia but I am sure I missed some, so these reports really help.

[2020-03-22 21:40] #23 closed

[2020-03-22 21:51] paul1956 commented on #22
Fixed in tonight's build

[2020-03-22 21:51] #22 closed

[2020-03-22 21:59] paul1956 commented on #20
@VBAndCs Not sure what to do about this one without a more complete example. In general the code tries to figure out the type for var but if it can't which happens a lot in single file conversions it has to default to object. If you add some more of the file I will see what can be done. Once I can easily edit WinForms I plan on adding the ability for the user to specify the 4 Options and the abili

[2020-03-22 22:02] paul1956 opened #24 "Allow User to specify values for 4 Options and if they would be included in every file"
Option Strict
Option Text
Option Explicit
Option Infer

Option Include option in converted file for each

[2020-03-23 17:03] paul1956 commented on #21
@VBAndCs  I will post a fix for this case tonight. I don't know if it will fix all cases and some comments may be removed (needs more tests) also more comments were picked up around Properties. For MustOverride (Abstract) I don't think VB allows different modifiers for Get and Set. If it is allowed please proved syntax, right now I continue to convert as before.

[2020-03-23 23:44] #21 closed

[2020-03-25 03:09] paul1956 commented on #20
@VBAndCs  Your examples have been converted successfully using folder convert in today's build version 4.1.0.3.

[2020-03-25 03:09] #20 closed

[2020-03-25 23:35] VBAndCs opened #25 "Optimize property intialization"
You convert this C#:
[code]
To:
[code]

It can be optimized to:
[code]

[2020-03-26 01:21] paul1956 commented on #25
@VBAndCs I could and do sometimes but not everything. I will look into doing it more often.

[2020-03-27 17:28] paul1956 commented on #17
Fixed in version 4.2.0.0

[2020-03-27 17:28] #17 closed

[2020-03-27 17:30] paul1956 commented on #13
Many are fixed in 4.2.0.0, open new issue if you see more

[2020-03-27 17:30] #13 closed

[2020-03-27 17:31] paul1956 commented on #9
Fixed in 4.2.0.0

[2020-03-27 17:31] #9 closed

[2020-03-28 00:32] paul1956 commented on #19
@VBAndCs  I believe with Convert Project all of these are now fixed they will now be fixed completely for Convert folders, https://github.com/dotnet-architecture/eShopOnWeb now converts if you do it by project. If you still have any issue please prove a complete example (at least a C# file) that shows the issue I can do very little with below since I don't know what Items are.
[code]

[2020-03-28 00:32] #19 closed

[2020-03-28 02:18] VBAndCs opened #26 ""Convert a project" inhancements"
I tested the convert a project:
1- It hanged for a long time, then showed a massage that sdk like projects can only converted. Then a message that 48 files are converted. When I tried with class libraries, worked fine.
2- open the output folder after finishing.
3- clear text boxes after finishing, because they show contents of last file.
4- The bottom textboxs that show file names, can be 2 list b

[2020-03-28 03:34] paul1956 commented on #25
Fixed in latest build 4.2.0.1.

[2020-03-28 03:34] #25 closed

[2020-03-28 22:36] paul1956 opened #27 "Long delay on Convert Project will no status"
before conversion of file starts

[2020-03-28 22:37] paul1956 opened #28 "Convert Project does partial work on non-SDK projects"
with confusing message.

[2020-03-28 22:38] paul1956 opened #29 "Open the output folder after finishing Convert Project"

[2020-03-28 22:39] paul1956 opened #30 "Clear text boxes after finishing Convert Project"

[2020-03-28 22:44] paul1956 opened #31 "Change Bottom TextBox to List Boxes"
The bottom TextBox that show file names, can be 2 list boxes, so we can double click on any item to view its content in both languages. and keep the two list sync: always select the same index in both.

Better would be to make Left box be file without extension and when clicked open source and destination file.

[2020-03-28 22:48] paul1956 opened #32 "Disable Menu Items during project convert"

[2020-03-28 22:52] paul1956 opened #33 "Disable text editing during conversion"

[2020-03-28 22:53] paul1956 opened #34 "Show more progress information during Project Convert"

[2020-03-28 22:54] paul1956 opened #35 "Support Convert Solution"

[2020-03-28 22:55] paul1956 commented on #26
1. need more information, is there an open source project that is doing this? The long delay is caused by Buildalyzer and I have no control over it but could put up a message. #27 #28
2. #29
3. #30
4, Good idea, I do that for errors on the right but using a list would be easier. #31
5. I do if they are listed as content in project file, if they are not in project file I ignore. If you have another

[2020-03-28 22:55] #26 closed

[2020-03-29 00:14] VBAndCs commented on #26
Project files don't have to list files anymore, except NuGets and references, and you may see excluded files only. By default, the project contains all files in the its folder and sub folders.
So, while scanning folders for .cs files, copy other files also to the output folder.

[2020-03-29 00:23] VBAndCs opened #36 "It is an SDK Project but seems not"
This is the csprog file that is considered non-sdk in #26:
[code]

It is an SDK, isn't it?
May be the problem comes from line termination. Some files use Lf termination, while others use CrLf. Try converting both and see if this is the problem.

[2020-03-29 00:36] #27 closed

[2020-03-29 00:36] #28 closed

[2020-03-29 00:36] #30 closed

[2020-03-29 00:36] #32 closed

[2020-03-29 00:36] #33 closed

[2020-03-29 00:36] #34 closed

[2020-03-29 02:38] paul1956 commented on #36
I was not supporting Web projects fixed in tomorrows build

[2020-03-29 04:55] paul1956 commented on #36
Fixed in 4.2.3.0

[2020-03-29 04:55] #36 closed

[2020-03-31 01:30] paul1956 commented on #31
Fixed in 4.2.4.0

[2020-03-31 01:30] #31 closed

[2020-03-31 23:46] paul1956 commented on #29
Closed in 4.2.5.0

[2020-03-31 23:46] #29 closed

[2020-04-08 23:10] VBAndCs opened #37 "Task_Renamed!"
C#:
[code]

VB:
[code]

`Task_renamed` Appeared 3 times, such as:
`Public Function RenderSectionAsync(name As String) As Task_Renamed(Of HtmlString)`

[2020-04-09 13:35] VBAndCs opened #38 "Parameters and property names conflictions"
C#:
[code]

VB.NET:
[code]

the `Buffer_Renamed.AppendHtml(New String(buffer, index, count))` is wrong. Buffer is not buffer in C#. As I mentioned b4, changing param name leads to errors in EF and other tech. so the only solution is to add `Me.` b4  any variable has the same name as a param but starting with Uppercase letter.
`Me.Buffer_Renamed.AppendHtml(New String(buffer, index, count))`
is the

[2020-04-09 13:58] VBAndCs opened #39 "Property errors"
C#:
[code]

VB:
[code]

Why adding Private to the set?.. It causes errors.

also 'Name = _name`
Must be: `_name = Value`

[2020-04-09 14:38] VBAndCs opened #40 "New Dictionary_Renamed"
C#
[code]

VB:
[code]

Dictionary is a type. You cant rename types. If it's necessary to rename something, it should be a local var. Any other types with New keyword or followed by . can't be renamed unless you find their local declaration in the scope.

[2020-04-09 14:57] VBAndCs opened #41 "Wrong type for out param"
C#
[code]

VB:
[code]
This declaration:
'Dim result As Type = Nothing'
is wrong, since Type is the first param type, and you need the second param type.
Try it with know methods to reproduce it.

And by the way, I hope you format the separated lines as in the function param list , by adding some taps to start of each line.

[2020-04-09 15:18] VBAndCs opened #42 "Evaluate type param"
C#:
[code]

VB:
[code]

No need to explicit declaration here. This is OK:
` Dim activateInfo = propertiesToActivate(i)`

But if you have to mention the type, you should evaluate the type param, instead using `TContext` which is the raw generic declaration not a real type. In this context, TContext is evaluated to be `ViewContext()`. You need to use a valid sample to reproduce this case.

[2020-04-09 15:31] VBAndCs opened #43 "Enclose New with []"
C#:
[code]

VB:
[code]

Vb realizes the .New as a call to the constructor. Use .[New] as C# means to call a method named `New`. This differs than using base in C# that translates to a call to the `MyBase.New` . The result should be:
VB:
[code]

[2020-04-09 15:47] VBAndCs opened #44 "Missing ReadOnly and Get body code"
C#
[code]

VB:
[code]

You missed the ReadOnly and the `Select Case` in the Get body.
[code]

[2020-04-09 16:06] VBAndCs commented on #42
Similar issue here:
C#:
[code]

VB:
[code]

The item is of type `KeyValuePair(Of String, String)` not `IEnumerable(Of KeyValuePair(Of String, String))`, and you can avoid this but maintain inference:
[code]

[2020-04-09 17:05] VBAndCs opened #45 "Missing ()"
When C# calls a property and adds () after it:
`viewStarts[i] = viewStartItem.PageFactory();`

Check that PageFactory is a property
and It returns a delegate.
If so, add extra `()` in VB. C# doesn't allow params for properties, but VB does:
`viewStarts(i) = viewStartItem.PageFactory()()`

[2020-04-09 17:57] VBAndCs opened #46 "dynamic"
C#
`public dynamic ViewBag => ViewContext?.ViewBag;`

VB:
[code]

Change dynamic to Object in VB.

[2020-04-09 22:22] VBAndCs opened #47 "Explicit Interface Implementation"
Check this out. Has many issues:
C#:
[code]

[2020-04-10 00:37] paul1956 commented on #37
Will be fixed in 4.2.11.0, Converter 3.3.0.0

[2020-04-10 00:37] #37 closed

[2020-04-10 01:44] paul1956 commented on #39
Will be fixed in 4.2.11.0, Converter 3.3.0.0

[2020-04-10 01:44] #39 closed

[2020-04-10 08:36] paul1956 commented on #40
Will be fixed in 4.2.11.0, Converter 3.3.0.0

[2020-04-10 08:36] #40 closed

[2020-04-10 09:11] paul1956 commented on #38
You can control Options that are generated in output file and that are used for testing under Options/Advanced Options....I have changed the code to add Me. in next version but not sure it will not break something else.

[2020-04-10 09:11] #38 closed

[2020-04-10 09:36] paul1956 commented on #46
Will be fixed in 4.2.11.0, Converter 3.3.0.0

[2020-04-10 09:36] #46 closed

[2020-04-10 11:42] paul1956 commented on #42
I am getting your desired results when I just convert the snippet. I need a more complete example to debug the issue. I try to avoid type inference when I know the type. The defaults for all my projects are Infer Off, Strict On, Explicit On.

[2020-04-10 12:14] VBAndCs commented on #42
You should stick with the original c# code. Inference makes the code shorter and cleaner so more readable. Besides, you write the full qualified names srating with system. Save your self the truple and keep inferencxe. C# and vb are idintical in this aspect.

[2020-04-10 21:00] paul1956 commented on #41
I don't do the formatting, I copy it from C# and then call Normalize. The problem is after an _ the formatting code does not work correctly and there is a open issue against Roslyn. I will see if there are any manual improvements I can do.

[2020-04-10 21:47] paul1956 commented on #41
fixed in 4.2.11.0 converter 3.3.0.0

[2020-04-10 21:47] #41 closed

[2020-04-11 11:12] paul1956 commented on #45
@VBAndCs  Need a more complete example, from the snippit I don't know PageFactory is a property.

[2020-04-11 11:20] paul1956 commented on #42
I now support user setting of Option Infer, I may look at using this for source generation in the future. But it is not high priority.

[2020-04-11 12:00] paul1956 commented on #43
Fixed in 4.2.11.0

[2020-04-11 12:00] #43 closed

[2020-04-11 13:02] paul1956 commented on #24
Fixed in 4.2.11.0

[2020-04-11 13:02] #24 closed

[2020-04-12 03:10] paul1956 commented on #44
Will be fixed in 4.2.11.0, Converter 3.3.0.0

[2020-04-12 03:10] #44 closed

[2020-04-12 23:47] paul1956 commented on #47
fixed in 4.2.11.0 converter 3.3.0.0

[2020-04-12 23:47] #47 closed

[2020-04-16 00:16] paul1956 commented on #45
@VBAndCs can you provide any open source file with this issue.

[2020-04-16 00:48] paul1956 commented on #14
Fixed in application 4.3.0.2 converter 3.3.0.2

[2020-04-16 00:48] #14 closed

[2020-04-16 01:16] VBAndCs commented on #45
You can create any property of type `Func<T>` and test it. Here is a sample:
[code]

Resulted VB:
[code]

in VB code, Y should be a `Func(of Integer)` and you will get an error because you defined it as Integer. It is an Integer in C#, because it gets the result of calling the Func. So, you must add `()` in VB:
`Dim y As Integer = Foo()()`

[2020-04-16 01:26] VBAndCs commented on #45
As I said: C# properties don't have argument lists, so, when you see `([params])` after a property in C#, add empty `()` before it in VB.

[2020-04-16 03:24] paul1956 commented on #45
@VBAndCs I have fixed this case using brute force, not sure I can always identify cases I need to do this with the information I have.
Trial fix in 4.3.0.3 Converter 3.3.0.3.

[2020-04-16 03:24] #45 closed

[2020-05-01 22:40] paul1956 commented on #35
Closed, done in version 4.4

[2020-05-01 22:40] #35 closed

[2020-05-01 22:44] paul1956 commented on #42
I now allow the user to specify the options included in the converted code so you can set whatever you want and the converter will include your selections. @VBAndCs if you still have an issue open a new report with enough source to reproduce.

[2020-05-01 22:44] #42 closed

[2020-08-09 13:45] GrahamTheCoder opened #48 "Name clashes"
### Input
[code]

### Expected output (from [https://codeconverter.icsharpcode.net/](https://codeconverter.icsharpcode.net/))
[code]

### Actual output
[code]

### Compilation errors
[code]
* Note: Obviously this is an extreme example. I did see the existing renaming code add "_Renamed" for one variable in another case I tried, so it does sometimes work.

### Possible solution
After you forked fro

[2020-08-10 02:43] paul1956 commented on #48
@GrahamTheCoder I fixed in converter 3.4.6.2. There may still be issues in full project conversion. I added solution converter which works very well because I pick up all the Types and I now convert gRPC projects which require parts in to stay in C# but be referenced by VB. I also do Async ForEach and many Patterns I have a solution for Ref Returns but not sure how to do an automatic conversion th

[2020-08-30 16:10] lorcQc opened #49 "when clause in the case label"
### Input
[code]
### Actual output
[code]
### Proposal

add a "TODO Check : " comment to the generated code

[2020-08-30 23:56] paul1956 commented on #49
@lorcQcI hope to publish a major upgrade this week to the converter with 100's of new tests, I have tests (currently disabled) to check When Clause, today most fail.  I think I fixed this issue but if not I will add TODO.

[2020-08-31 09:40] paul1956 commented on #49
Fixed in 4.6.0.0/4.0.0.0, to be release by 9/4/2020.

[2020-08-31 09:40] #49 closed

[2020-12-02 10:02] elGuille-info opened #50 "Set Option Infer to ON and on Sub Main remove Private access modifier"
In a small file for console application I found this:
Set Option Infer to On because in for loops the variable isn't assigned a type
For i = 1 To args.Length -1
And in C# the "infer" is default when using var.

I know you can set in the CSharpToVB application, but... it should be as default ON (like Option Strict is).

The Sub Main method was set as Private Sub Main and as a console application (e

[2020-12-10 21:05] DualBrain opened #51 "Converting "variable scope" blocks."
It is relatively common to encounter C# code where variable scoping blocks are in use.

I recently encountered such when working on converting tests for the VB runtime:

        [Fact]
        public void Close()
        {
            var path = GetTestFilePath();
            File.WriteAllText(path, "abc123");
            // ...
            using (var parser = new TextFieldParser(path))

[2020-12-11 00:57] paul1956 commented on #51
@DualBrain I can't detect that, the problem is the second using should just be "Using parser as new TextFieldParser(path))" and that I might be able to fix.

[2020-12-11 02:02] paul1956 commented on #51
I fix the specific issue and other places where I should have used
[code]
Fix in   New in 5.0.0.17/5.0.0.8

[2020-12-11 02:27] DualBrain commented on #51
You might have misunderstood what I was trying to convey.

    public void SomeSuch()
    {

        {
            int x = 1;
        }
        // ...
        {
            int x = 1;
        }
    }

There are two different instances of x in their own individual variable scopes due to the curly brace "blocks".  In VB this can be done using:

    Public Sub SomeSuch

        If True Then

[2020-12-11 02:34] DualBrain commented on #51
Also, right now... if I attempt to convert this:

    Public Sub SomeSuch()
        Dim x As Integer = 1
        ' ...
         Dim x As Integer = 1
        ' ...
    End Sub

Which is obviously not a valid conversion. ;-)

[2020-12-11 03:42] paul1956 commented on #50
@elGuille-info  Thanks for the feedback

You can set the Option defaults any way you want under Options/Advanced Options.. and the app will remember. You can also select what you want included in each file. So I am not going to change this. If I ever have an installer it could set the defaults or I could force user to it on First Run.

I agree about Consolas and will change in next update and allo

[2020-12-11 03:42] #50 closed

[2020-12-12 00:56] elGuille-info commented on #50
Yes, I know, but if you are converting from C# to VB, and the user doesn't set OPTION INFER to ON then can get erros because C# **always** use the equivalent Option Infer On.
Or at least set Option Infer On and Option Strict On by default.

Guillermo

[2020-12-12 02:27] elGuille-info opened #52 "Add Public to Sub Main when declared in non static class in C#"
Your code:
[code]

I changed to this and works in all the test I made:
Declaring the class static or not.

The only thing is that Remove seems not to work on the List(Of SyntaxToken) and I use a simple for/netxt (and works!)
[code]

File: CSharpToVB\CodeConverter\CSharpToVBVisitors\DeclarationVisitor.vb

Guillermo

[2020-12-12 02:35] paul1956 commented on #50
@elGuille-info I changed default but it will not change any existing installations (its the way setting works). Option Strict on is already the default.

[2020-12-12 02:48] elGuille-info opened #53 "Create a discard function when a C# discard assign (_) is converted to __ in VB"
I note that the discard assignement in C# _ (underscore) is converted to __ (double underscore)
But there is no double underscore function or property defined in the VB code so... an Error is thrown.

If it's possible the converter shoul add a property like this:
[code]

I don't know how to add this functionality in your code... but hope it's help, and it's easy for you to do ;-)

Thanks!
Guillerm

[2020-12-12 03:04] elGuille-info opened #54 "Error in LineNumbersForRichTextBox"
When checking
[code]
A null error is thrown because Me.ZParent is Nothing.

I check if it's nothing then return.

[code]

Guillermo

[2020-12-12 03:45] elGuille-info opened #55 "Add editing keys to both panels, now you must use the context menu for edit actions"
If I want to select code o paste or copy I must use the contexte menu, but it's easiest if I coudl use the short-cut keys:
For example Ctrl+A for select all the text.
It's shown in the context menu but isn't works.

Thank you.
Guillermo

[2020-12-12 04:15] elGuille-info commented on #52
I "forked" your project and make this change.

[2020-12-12 05:15] paul1956 commented on #52
@elGuille-info do a PR and I will merge. I don't use List I use SyntaxList. Also if you do a PR add your tests as well.

[2020-12-12 05:40] paul1956 commented on #52
@elGuille-info I simplified it and merged thanks
[code]

[2020-12-12 05:48] paul1956 commented on #52
Closed in New in 5.0.0.17/5.0.0.8 Thanks @elGuille-info

[2020-12-12 05:48] #52 closed

[2020-12-12 06:01] paul1956 commented on #55
@elGuille-info that used to work I need to find out when it broke. I will look this week.

[2020-12-12 06:11] elGuille-info commented on #54
It happened when no showing line numbers (I don't know why) but later I try (with your last update) and works (the lines are shown)

Guillermo

[2020-12-12 06:11] paul1956 commented on #54
The only time Me.ZParent is nothing is if Form1 is opened in designer and corrupts the designer file. Otherwise it is set in the lines below in Form1.Designer.VB.
[code]
If you try to run LineNumbersForRichTextBox without setting Parent the control will fail.

[2020-12-12 06:13] paul1956 commented on #54
I am going to close assuming the designer file was corrupted. This is a VS issue.

[2020-12-12 06:13] #54 closed

[2020-12-12 06:26] paul1956 commented on #53
@elGuille-info  great idea I will look into it.

[2020-12-12 12:15] paul1956 commented on #54
@elGuille-info If you ever open Form1 in Designer it corrupts the file and deletes key parts and lots of things don't work. There is noting I can do about it except tell people not to open the Form1 in designer. If you are using git and open the form and then do Git Compare with Unmodified you will see all the unexpected changes you and then do a Git undo on 3 files to repair.

[2020-12-12 12:37] paul1956 commented on #55
@elGuille-info  Fixed in 5.0.0.18/5.0.0.8

[2020-12-12 12:38] paul1956 commented on #55
@elGuille-info  Fixed in 5.0.0.18/5.0.0.8

[2020-12-12 12:38] #55 closed

[2020-12-12 14:50] elGuille-info commented on #54
yes that happened to me on .net preview but no when RC goes out... in that time I had to do copies each time I want to change something. I am newie to GitHub and related :-)I'll have more care and follow your tip.Thanks!Guillermo

[2020-12-12 23:50] paul1956 commented on #54
I am fine helping with GitHub not that I am expert.

[2020-12-12 23:53] paul1956 commented on #53
@elGuille-info found multiple errors one that has been in converter since it first supported Tuples. It will create a WriteOnly property when needed. All the logic was already there to support other helper functions in Modules and Classes.

Fixed in 5.0.0.18/5.0.0.10

[2020-12-12 23:53] #53 closed

[2020-12-13 00:52] paul1956 commented on #51
@DualBrain Fixed in 5.0.0.18/5.0.0.10, please review

[2020-12-13 00:52] #51 closed

[2020-12-14 21:43] DualBrain commented on #51
Excellent work!

[2020-12-15 01:54] paul1956 commented on #51
@DualBrain  thanks. Very odd the original code had a test identical to your your simplified example. Which I had to fix for some reason whoever wrote original code that it was OK to define a variable twice.

[2020-12-30 15:18] DualBrain opened #56 "Tuple Deconstruction"
Wondering if the tuple deconstruction could be modified to generate something similar to:

Original...

    (string[] types, string[] names, string[]? fields) = ExtractProperties(parser);

When converted...

    Dim tupleTemp = ExtractProperties(parser) : Dim types = tupleTemp.Item1, names = tupleTemp.Item2, fields = tupleTemp.Item3

And to take this request further, would it be possible to "fixup

[2020-12-30 15:22] DualBrain opened #57 "Nullable Reference Types"
Are you able to "automate" the removal of the ? from the conversion for reference types?  When removed, add a TODO: comment stating that the original source declared the variable as a Nullable Reference Type and additional code review may be necessary to handle null conditions.

[2020-12-30 15:23] DualBrain opened #58 "Nullable Reference Types"
Are you able to "automate" the removal of the ? from the conversion for reference types?  When removed, add a TODO: comment stating that the original source declared the variable as a Nullable Reference Type and additional code review may be necessary to handle null conditions.

[2020-12-30 15:23] DualBrain commented on #58
Github errored out; thus created a duplicate.  Closing as a duplicate.

[2020-12-30 15:23] #58 closed

[2020-12-30 15:37] DualBrain opened #59 "For Each and Tuple Deconstruction"
Given the following original code:

        static IEnumerable<(string, string)> SourceFilesFromMustachePaths(IEnumerable<(string, string, string)> pathsData)
        {
            foreach ((string name, string template, string hash) in pathsData)
            {
                yield return (name, SourceFileFromMustachePath(name, template, hash));
            }
        }

When manually converted, l

[2020-12-30 15:43] DualBrain opened #60 "Iterator Function Problem"
The following example:

        static IEnumerable<(string, string)> SourceFilesFromMustachePaths(string languageName, IEnumerable<(string, string, string)> pathsData)
        {
            foreach ((string name, string template, string hash) in pathsData)
            {
                yield return (name, SourceFileFromMustachePath(languageName, name, template, hash));
            }
        }

Cur

[2020-12-31 12:24] paul1956 commented on #57
@DualBrain  I just added that for strings this week, I was afraid to do others. I can do it for all the predefined types very easily.
Let me know.

[2020-12-31 16:08] DualBrain commented on #57
As long as they are reference types, I'm assuming that they could be addressed in the same manner.  Obviously there are valid places (non-reference types) where the ? is still valid... Integer, Short, Boolean, etc.  With that said, the two places where I've run into this most often (so far) are String and Object.

[2021-01-01 03:03] paul1956 commented on #57
I think I removed it from String this week if I missed a place please upload an example in the PR. Adding Object would be easy but an example would help, I just add to Tests and make sure I get the expected result.

[2021-01-01 03:15] paul1956 commented on #57
@DualBrain please post an example and what you want it to be, latest release should handle String so if you have an example that don't work please post.

[2021-01-01 05:11] paul1956 opened #61 "Array () missing for converted types"
[code]
is being converted to
[code]
It should be
[code]

[2021-01-01 05:55] paul1956 commented on #57
I found several places I was not removing the ? and not add (), they should be fixed in next PR.

[2021-01-02 12:54] paul1956 commented on #61
Fixed in converter 5.0.0.19

[2021-01-02 12:54] #61 closed

[2021-01-02 12:55] paul1956 commented on #56
Fixed in converter 5.0.0.19

[2021-01-02 12:55] #56 closed

[2021-01-02 12:56] paul1956 commented on #57
@DualBrain should be fixed in Converter 5.0.0.19, reopen with example if you are still having an issue

[2021-01-02 12:56] #57 closed

[2021-01-02 20:29] paul1956 commented on #59
@DualBrain  I am missing something where did you get "Entry"?

[2021-01-03 00:20] paul1956 commented on #59
I implemented your last example in 5.0.0.20

[2021-01-03 00:20] #59 closed

[2021-01-03 00:22] paul1956 commented on #60
That was because I never looked at the statements and saw the yield. Once I parse the statements this gets fixed for free. So fixed in 5.0.0.19

[2021-01-03 00:22] #60 closed

[2021-01-03 16:17] DualBrain commented on #59
It was hand converted; but I see that you probably figured that out.  The code translation (result) looks great!

[2021-01-03 16:18] DualBrain commented on #57
Will do.

[2021-01-04 23:20] lorcQc opened #63 "Converting a string containing \""
When I paste this code in the converter :
`test1 = "Simple\"Test";`

If the  "colorize source" option is active, the code is transformed into :
`test1 = "Simple\"Test"\"Test";`

Regardless of the option "colorize source" is active or not, the generated VB code is incorrect.
`test1 = "Simple""Test"""Test"`

[2021-01-05 01:13] paul1956 commented on #63
@lorcQc I saw that when the colorizer is on. There is """ and some extra text. This is coming from the colorizer and I have not yet figured out why. The version I just posted I turn off the colorizer for many scenarios which helps. But I need to figure would what is happening, the colorize code is something I have will the original repo and I haven't changed it but maybe on the the Roslyn librarie

[2021-01-05 02:28] lorcQc commented on #63
I confirm that when "Colorize Result" and "Colorize Source" are off, it works.
Thank you!

[2021-01-05 04:42] paul1956 commented on #63
I believe this was a new feature added to Roslyn Colorization that I did not support, I am looking to work around it, until I understand it. It is "fixed" in  New in 5.0.0.25/5.0.0.23. @DualBrain this also addresses your issue.

[2021-01-05 04:42] #63 closed

[2021-01-19 18:17] VBAndCs opened #64 "False Alarm"
Sorry. The editor messed with casing!

[2021-01-19 18:19] #64 closed

[2021-02-03 06:00] DualBrain opened #67 "'Record' conversion fail."
Below is the code I was using when I got a failure - entered here as requested.

using System;

namespace ClassLibrary1
{

    public record A
    {
        public int A1 { get; init; }
        public int B1 { get; init; }
        public int C1 { get; init; }
    }

}

[2021-02-03 07:07] paul1956 commented on #67
Fixed in 5.0.0.28

[2021-02-03 07:07] #67 closed

[2021-02-14 20:07] Whismeril opened #69 "Compilation errors and runtime error"
Hello,

compilation returns me errors 's_LightModeColorDictionary' is not defined and 's_DarkModeColorDictionary' is not defined
In the file ColorSelector.vb I've found this 2 commented lines
`    'Friend s_DarkModeColorDictionary As New Dictionary(Of String, ColorDescriptor)(StringComparer.OrdinalIgnoreCase)

    'Friend s_LightModeColorDictionary As New Dictionary(Of String, ColorDescriptor)(Str

[2021-02-14 20:42] Whismeril commented on #69
Second problem comes because I don't have LightModeColorDictionary.csv and DarkModeColorDictionary.csv in My Documents and program doesn't load default values.
I've found this files in directory Asset so I've moved them it in My Documents, (because Sub UpdateColorDictionariesFromFile doesn't update dictionaries if files in Asset and My Document are the same)

[2021-02-15 02:19] paul1956 commented on #69
@Whismeril  This current version requires 16.9 Preview 4 to support Visual Basic Source Generation. This was an unfortunate result of wanting to move to Source Generation too soon without specifying 16.9 Preview as a requirement. I have updated it to support  Visual Studio 2019 Version 16.8.0 IF Assets Csv_LightModeColorDictionary.vb and Csv_DarkModeColorDictionary.vb are included in project.

[2021-02-15 16:07] Whismeril commented on #69
Thanks

[2021-02-15 16:54] Whismeril commented on #69
Compilation errors steel occurs

![Capture1](https://user-images.githubusercontent.com/49691966/107974310-b1a45500-6fb6-11eb-9108-a17c67746779.png)

It seems be cause of this lines are commented
![Capture2](https://user-images.githubusercontent.com/49691966/107974376-cc76c980-6fb6-11eb-9c50-5d224fa62bde.png)

[2021-02-15 17:13] Whismeril commented on #69
Runtime errors steel occurs too.

In form Load, as this time s_LightModeColorDictionary and s_DarkModeColorDictionary are empty
![image](https://user-images.githubusercontent.com/49691966/107975386-52dfdb00-6fb8-11eb-8730-e3d7d83e30e9.png)

So CurrentThemeDictionary is empty too.
![image](https://user-images.githubusercontent.com/49691966/107975414-5bd0ac80-6fb8-11eb-8369-2397836f8f5d.png)

Sub Up

[2021-02-15 17:31] Whismeril commented on #69
this correction works for me, but name UpdateColorDictionariesFromFile is not good now
[code]

[2021-02-16 00:14] paul1956 commented on #69
@Whismeril I will post a fix tonight. I should have tested this more on 16.8

[2021-02-16 00:51] paul1956 commented on #69
@Whismeri tested and posted fix in Branch Support16.8. I will leave that there until 16.9 ships. Sorry for the issue. You should delete the 2 saved dictionaries in MyDocuments. You don't need to load the dictionaries they are static data in Assets for 16.8. Until I have full Theming editing them is a bad idea.

[2021-02-16 00:51] #69 closed

[2021-02-16 07:13] Whismeril commented on #69
Thanks for you reactivity.
I used your converter yesterday to translate source I let on french open source platform.
I’ve found few mistakes with = and is. I’ll make short example and open a specific issue.

[2021-02-16 07:19] paul1956 commented on #69
@Whismeril Yes please open a separate issue. I will look into it, I know it is not possible for me to get everyone correct especially if you do one file or snippet at a time. Whole project or solution does a better but n perfect job.

[2021-02-16 17:27] Whismeril opened #70 "Project file not converted when convert solution"
Hi
Converting a solution with 2 project, this message appears twice
![image](https://user-images.githubusercontent.com/49691966/108098073-38beff00-7083-11eb-9f37-85b8514e4876.png)

At the end this message appears
![image](https://user-images.githubusercontent.com/49691966/108098415-9fdcb380-7083-11eb-9a8e-b77891f661d9.png)

But no file *.csproj is converted to *.vbproj

Testing with lasted version

[2021-02-16 17:55] Whismeril opened #71 "Problem with Is and = only when convert solution"
With the same project than issue #70

In file ExcelOpenXml.cs, at SupprimerFeuille method
[code]

Conversion returns
[code]

But if I paste the code in the richtextbox SourceCode and convert the snippet, conversion is correct.

[2021-02-16 18:42] Whismeril opened #72 "About ++ or -- operator"
This code
[code]
is converted like this
[code]

1. Interlocked.Increment(i) should work if System.Threading is imported, conversion doesn't notify that.

2. In
[code]
why first increment and then calcul i - 1 ?

this
[code]
does the same with one subtraction less

3.
[code]
could be obscure for beginner, convert in 2 lines mays be easier for them
[code]
goes
[code]

and
[code]
goes
[code]

[2021-02-16 22:08] paul1956 commented on #70
Two different messages, first is about the project file. I can only convert SDK style project files. The second is about the files in the project. If you have a better way to say it let me know. Maybe the second should say the "The C# files in 2 project were converted successfully" Let me know if you have other ideas.

[2021-02-16 22:42] paul1956 commented on #72
@Whismeril Multiline conversions from single line is complex for translator especially if it is in a loop. In SDK style VB projects System is always included. I could use Math.Min(i, Interlocked.Increment(i)), and I might do some testing with it but I also do decrements. It you want to look at the code and do a PR I will review.

[2021-02-16 22:45] paul1956 commented on #70
I did fix the message so they don't say SourceFIleName but instead actually show the name. I think with that and the other text changes I can close this. Feel free to reopen if you still see an issue.

[2021-02-16 22:45] #70 closed

[2021-02-17 00:08] paul1956 commented on #71
Fixed

[2021-02-17 00:08] #71 closed

[2021-02-17 02:10] paul1956 commented on #72
@Whismeril think about DoSomethingWithI(i++, i--,..); There are way too many places with multiple statements don't work and may not even be possible.

[2021-02-17 06:21] Whismeril commented on #70
The last message may be "All files except ....  have been converted successfully"

[2021-02-17 06:21] Whismeril commented on #71
thanks

[2021-02-17 07:32] Whismeril commented on #72
I understand the difficulty to translate one line into two, especially for a loop.
And (i++, i--,..); is an unstoppable argument, I didn't thought about it.

I only code in VB.Net in order to try helping beginners in forums.
I used to says them to search in C# too and convert code.
So when I’ve found you project, couple of days ago, I wanted the test it.
It’s very good, and your reactivity with my

[2021-02-20 00:22] paul1956 commented on #70
@Whismeril if you have any errors they are reported individually and you will have to option of continuing or stopping.

[2021-03-24 19:34] DualBrain opened #73 "DarkMode - Slight tweaks"
I'm still trying to wrap my head around how to manage my fork compared to your changes; so have been experimenting locally with your repo instead of a fork.  So the following changes were made in an effort to slightly improve the look of things as well as better handle certain cases where forcing Padding might not be a good idea.

# ThemeSupport.vb

- Remove setting the Padding; let this take plac

[2021-03-24 23:51] paul1956 commented on #73
Fixed

[2021-03-24 23:51] #73 closed

[2021-03-31 18:42] elGuille-info opened #74 "Some bugs when converting C# snippets to Visual Basic"
Hi Paul,

Incorrect constructor conversion:

[code]

Converts to:

[code]

But will be:

[code]

Hope its helps.

Guillermo

[2021-04-01 02:08] paul1956 opened #75 "Fail to assign the right local variable Split from #74"
Fail to assign the right local variable:

[code]

Converts to:

[code]

But it uses different variables (declared and used).
And I can assign the value directly despite what is stated in the comment:

[code]
Hope its helps.

Guillermo

[2021-04-01 02:22] paul1956 commented on #74
@elGuille-info Good catch it is fixed in converter version 5.0.1.16 that was just posted

[2021-04-01 02:22] #74 closed

[2021-04-01 03:01] elGuille-info commented on #75
I thought I had not put that other bug :-D

[2021-04-01 03:17] paul1956 commented on #75
@elGuille-info Another good catch, I missed the simple case when I tried to handle Tuple deconstruction. This is fixed in 5.0.1.17. Fixing the unneeded tempVar assignment is very difficult given the way the logic works and I am afraid other things will break.

[2021-04-01 03:17] #75 closed

[2021-04-01 03:36] elGuille-info commented on #75
No problem, as you say, it is better to leave that comment and that assignment, than to break it elsewhere ;-)

[2021-04-01 04:45] elGuille-info commented on #75
Only as something strange.

[code]

Adding there are no issue.

It's in the code the AddExpression check.
I really don't know why, but... as a point ;-)

[code]

Guillermo

[2021-04-01 12:06] paul1956 commented on #75
@elGuille-info don't understand the issue. Do you have a full example what is broken and what you expect?
[code]
+ is special cased due to concatenation but I can look to see if I can reuse that logic elsewhere.
Below works but I agree it could be better.
[code]

[2021-04-01 12:40] elGuille-info commented on #75
That the "temp" variable it is not created only when the "add" is used.
But the names of the variables works fine.

[2021-04-01 22:14] paul1956 commented on #75
You found where it needed to be fixed, I does special case the (). I have fixed *-*/ in 5.0.1.18. I might be able to delete the check for other operators but for now I would like to leave that in.   Thanks again.

[2021-07-06 14:36] VBAndCs opened #76 "Custom events conversion issues"
The converter has serious issues with custom events. For example, this code:
[code]

is converted to:

[code]

Which has many errors:
1. `Controls._buttonClicked = Nothing`
2. `_buttonClicked += value`
3. `_buttonClicked -= value`
4. `RaiseEvent(sender As Object, e As EventArgs)`

and there is a related error when using this code to raise the event in another place:
5. Controls._buttonClicked?.Inv

[2021-07-06 16:43] VBAndCs opened #77 "Missing AddressOf"
In this sample
[code]

The last stement is cinverted to:
`_threadTimer = New Threading.Timer(ThreadTimerCallback)`

When there is no `()` in C#, add AddressOf in VB.

[2021-07-06 16:46] VBAndCs commented on #77
Also, there is still an error converting ref and out args that are infered from the params.
I advice to convert this project and see the errors.
[SmallBasicLibrary.zip](https://github.com/paul1956/CSharpToVB/files/6771491/SmallBasicLibrary.zip)

[2021-07-06 17:10] VBAndCs commented on #77
Another error you will see in the project conversion:
[code]

Will be:
[code]

TimeSpan is changed  to TimeSpan1. Please check first that this is not a shared method invocation.
In fact, the one that should be changed is  the`timespan` var sent as an argument.

[2021-07-06 17:37] VBAndCs commented on #77
And this one:
[code]

The converter added AddressOf b4 the lambda sub!
[code]

And there is no need to the cast in VB.

[2021-07-06 22:15] VBAndCs opened #78 "OverFlow Conversions"
You convert this  C#  code
`int x = (int)Now.Ticks;`
To:
`Dim x as Integer = CInt(Fix(Now.Tics))`
And this will cause overflow because C# circulate the overflow while vb not. So,you need to check if the conversion is from a wider type to a narrower type, and hence you can use something like this:
`Dim x as Integer = Now.Ticks Mod Integer.MaxValue`
As this will circulate the overflow between 0 and

[2021-07-06 23:02] paul1956 commented on #77
@VBAndCs doing this as 1 issue is very difficult to track and address. I need 1 issue per error AND a before C# and after VB to make any progress.

[2021-07-06 23:44] paul1956 commented on #78
Fixed in converter 5.0.1.20. I was special casing this and I changed it to use your solution.

[2021-07-06 23:44] #78 closed

[2021-07-07 00:51] paul1956 commented on #77
@VBAndCs AddressOf is Fixed in converter 5.0.1.20. The last issue directly above is also fixed.  The others need to be in separate issue to allow tracking. Look at Tests.Issues. This is what I need to be able to fix issue. Just providing snippets doesn't always show the issue.

[2021-07-07 00:51] #77 closed

[2021-07-07 11:18] paul1956 commented on #76
@VBAndCs what is an EventHandlerList? I have reimplemented the conversion in version 5.0.1.21. Please provide feedback.

[2021-07-07 13:27] VBAndCs commented on #76
EventHandlerList is used internally to store event handlers for normal events (you can get it via reflection if you need), and you should use it manually with custom events. It is defined in System.ComponentModel.

[2021-07-07 18:49] VBAndCs commented on #78
My solution will not give the same C# results with signed numeric types. It does't matter in my case because I deal with randoms.
in this sample, x will be -128
[code]

This value comes from:
`x - sbyte.MinValue - 1 + sbyte.MinValue`

[2021-07-08 06:28] paul1956 commented on #78
@VBAndCs I have a solution but it is long but it works with everything I have tried.
        Dim aB As Object = 5
        Dim Ab1 As Integer = CInt(CLng(Fix(aB)) Mod Integer.MaxValue)

[2021-07-09 22:41] paul1956 commented on #76
@VBAndCs I will look at this more everything looks good except raising event and that is a big issue with current implementation.

[2021-07-12 15:32] paul1956 commented on #76
@VBAndCs I fixed a lot of it but there are still a few issues with raising events

[2021-11-10 03:25] DualBrain opened #79 ""Range Sugar" issue..."
Was working my way through some samples located at https://blog.ndepend.com/top-10-new-net-6-0-api/

The LINQ now works with Index and Range operators...

// 6 element indexed from 0 to 5
var arr = new [] {0, 1, 2, 3, 4, 5};
Assert.IsTrue(arr.ElementAt(^2) == 4); // Take the second element from the end

This fails to convert... will have to think how to handle translating to VB.  My initial reacti

[2021-11-10 23:42] paul1956 commented on #79
@DualBrain  I think I only partly support that feature. I will look at it or you can if you want something simple to work on. Just fork the repo and create a branch for this. also if you want to finish Dark Mode, that should be a separate branch.

[2022-01-31 19:43] VBAndCs opened #80 "Please don't change public API names"
In this class I has a Value property:
[code]

The converter changed it's name to Value1:

[code]

I know you are trying to avoid confection with the value  filed, but you can safely change the private field name. Changing the public property name Value to Value1 causes many errors, some of them can happen in reflection in frameworks that use naming convention. So, whenever the case conflict happen

[2022-02-05 12:50] elGuille-info opened #81 "Interface event definitions converted as "private""
On interface definition the modifiers is not used.

[code]

Is converted to:

[code]

And should be:

[code]

Guillermo.

P.S.
The whole sample (on MS docs)
[How to implement interface events (C# Programming Guide)](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/events/how-to-implement-interface-events)

is not converted on the last version 5.0.4.0.
Throw that exception (show in

[2022-02-06 01:41] paul1956 commented on #81
@elGuille-info both issues fixed in 5.0.6.0/5.0.2.4 with update to .Net 6.0

[2022-02-06 01:41] #81 closed

[2022-02-07 02:36] paul1956 commented on #80
Converter 5.0.2.5 fixes part of this. I no longer rename Value to Value1 but value is not renamed either. I do add Me. to value

[2022-02-07 02:36] #80 closed

[2022-02-07 02:42] VBAndCs commented on #80
VB can't accept value and Value as two differenr names. I recommend to rename value to _value, but be aware not to change Value param in the set blocks in properties.

[2022-02-07 05:06] paul1956 commented on #80
@VBAndCs  I think I have a complete fix in 5.0.2.6. posted tomorrow. If not please provide complete source of C# and VB where conversion does not work.

[2022-06-13 22:19] VBAndCs opened #82 "Property and Interface issues"
Try to convert this project:
[ToolFramework.zip](https://github.com/paul1956/CSharpToVB/files/8894808/ToolFramework.zip)

The vb project will contain about 500 errors, most of them are due 2 reasons:
1. The property private filed , which has the same name of the property with small casing. I issued this b4 but it is not fixed till now. The solution is to get the property names and filed names, and

[2022-06-13 22:22] paul1956 commented on #82
@VBAndCs  I am mostly retired, if you want to do the fixes will review and update. The solution to all the renaming is to do 2 passes, first building symbol table and then using it for translation.

[2022-06-13 22:47] VBAndCs commented on #82
@paul1956
I can't work on the converter now.
By the way, there is a null reference bug while converting this project.
Also, the converter is too slow, as it doesn't use the full processor power. In converting solutions, you should use multi threading to convert 4 or more files simultaneously, to get the most of the processor cores. This should work fine as the conversion happens after compiling th

[2022-06-13 22:50] VBAndCs commented on #82
@paul1956
And you should review your retiring decision, as Anthony is back and willing to do amazing things for VB .NET and needs the community help.

[2022-06-13 23:13] paul1956 commented on #82
@VBAndCs I am monitoring Anthony's blog and am traveling 50% of the year WITHOUT internet. I found the crash and am fixing it as its trivial. Tackling the other issues require more dedicated effort then I am able to put in at this time. As for threading the app I specifically don't want more threading because at the moment I only have 1 global symbol table, if that issue was addressed the app coul

[2022-06-13 23:19] paul1956 commented on #82
@VBAndCs
Project conversion crash is fixed in version 5.0.6.5/5.0.2.10

[2022-06-25 18:22] VBAndCs opened #83 "Pattern matching issues"
Please look at this:
[code]

It is converted to:
[code]

Which can cause runtime errors.
It should be:
[code]

And why to change the type span to Span1?

[2022-06-26 03:50] paul1956 commented on #83
@VBAndCs span to Span1 is a separate bug that I don't know when I will be able to fix. The real issue is the Dim span is in the wrong place it needs to be after the second If. I will look at that.

[2022-06-26 04:22] VBAndCs commented on #83
I never saw this Span1 before the last version. It always was:
`Dim Span1 as Span`
but this is new:
`Dim Span as Span1`

[2022-06-26 04:34] VBAndCs commented on #83
And look at this too:
[code]

It gives:
[code]

the `    String.TryParse(obj.ToString, s)` location is wrong also, and String doesn't contain a TryParse, besides there is no need to try as the type is already checked. A Ctype will do just fine inside the If block

[2022-06-27 00:21] paul1956 commented on #83
@VBAndCs both issues are fixed in converter 5.0.2.11

[2022-06-27 00:21] #83 closed

[2022-07-03 07:10] VBAndCs opened #84 "Converting C# string literals to VB is missed up"
Try this:
[code]

Most string literals will not be translated correctly.
[code]

The correct result should be:
[code]